include MANIFEST.in
include LICENCE.txt
include README.rst

exclude sphinx_reload.py

recursive-include deovi/templates *
recursive-include deovi/static *
recursive-include deovi/locale *

recursive-exclude tests *
recursive-exclude sandbox *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
